<!-- <div class="demo-full-width margin-top" [formGroup]="group" >
    <mat-checkbox [formControlName]="field.name">{{field.label}}</mat-checkbox>
</div> -->

<div fxLayout="column">
    <label>{{field.label}}:</label>
    <div class = "mat-list-style">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor = "let item of field.options; let i = index">
                <mat-checkbox [value] = "item" field.value = '$event.source.value;'>
                    {{item}}
                </mat-checkbox>
            </mat-list-item>
        </mat-list>

        Currently Selected: {{field.value}}
    </div>
</div>

<!-- [checked] = 'selected === i' (change) = 'selected = i; -->