<div fxLayout="column" fxLayoutAlign="center stretch">
<mat-card>
  <!-- <mat-card-header>
    <mat-card-title>
      {{field.label}}
    </mat-card-title>
  </mat-card-header> -->
<div *ngFor="let arrGroup of group.get(field.name)['controls'];let i = index;">
    <div *ngFor="let x of field.formArrays[i];let idx=index;">
      <!-- {{x| json}}  -->
      <!-- {{arrGroup.value | json}} -->
      <!-- {{group.get(field.name)['controls'] | json}} -->
      <!-- {{form}} -->
      <!-- {{field.formArrays[0] | json}} -->
      <!-- {{group.value.childForm[0][field.formArrays[i]]}} -->
      <!-- {{group.value.childForm[0][field.label]}} -->
      <!-- {{group.value.childForm[0][field.label] | json}} -->
      <!-- {{field.formArrays[i][0].value}} -->

      <!-- {{group.value | json}} -->
      <!-- {{x.value | json}} -->
      <!-- {{field.name}} -->
      <!-- {{group.value.childForm[0][x.label]}} -->
      <!-- {{group.value.childForm[0] | json}} -->
      <!-- {{idx}} -->
      <!-- <div  *ngIf="x.type === 'radiobutton'" dynamicField [field]="x" [group]="arrGroup"></div> -->
      <!-- <div *ngIf = "x.type != 'radiobutton' && checkRadioButtonStatus(group,field.name)" dynamicField [field]="x" [group]="arrGroup"></div> -->
      <div *ngIf = "i === 0" dynamicField [field]="x" [group]="arrGroup"></div>
      <div *ngIf = "idx >= 0 && i!=0 && checkRadioButtonStatus(group,field.name)" dynamicField [field]="x" [group]="arrGroup"></div>
    </div>
	</div>
  </mat-card>
</div>



