<!-- <div class="form">
  <div style="text-align:center">
    <h1>
      Registration Form
    </h1>
  </div>
  <dynamic-form [fields]="regConfig" (submit)="submit($event)">
  </dynamic-form>
  <div class="margin-top">
    {{ form.value | json }}
  </div>
</div> -->

<!-- <div style="text-align:center">
  <h1>
    Registration Form
  </h1>
</div> -->

<!-- <h1>Exposure Analysis</h1>
<dynamic-form [fields]="regConfig" (submit)="submit($event)">
</dynamic-form> -->

<!-- <h2>Controls</h2>
<dynamic-form [fields]="regConfigControls" (submit)="submit($event)">
</dynamic-form> -->

<!-- <h2>Pricing Analysis</h2>
<dynamic-form [fields]="regConfigPricingAnalysis" (submit)="submit($event)">
</dynamic-form> -->

<h3>Critical Risk Factors</h3>
<dynamic-form [fields]="regConfigCRF" (submit)="submit($event)">
</dynamic-form>

<div class="margin-top">
  {{ form.value | json }}
</div>