.initials {
    color: darkturquoise;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.2625px;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid darkturquoise;
    cursor: pointer;
  }